<div id="footer">
  <p>
    <a href="{{site.data.urls.profile_rss_url}}" title="{{site.data.urls.profile_rss_title}}"><img src="{{site.data.urls.profile_rss_icon}}"></a>&nbsp;
    <a href="{{site.data.urls.profile_twitter_url}}" title="{{site.data.urls.profile_twitter_title}}"><img src="{{site.data.urls.profile_twitter_icon}}"></a>&nbsp;
    <a href="{{site.data.urls.profile_github_url}}" title="{{site.data.urls.profile_github_title}}"><img src="{{site.data.urls.profile_github_icon}}"></a>&nbsp;
    <a href="{{site.data.urls.profile_youtube_url}}" title="{{site.data.urls.profile_youtube_title}}"><img src="{{site.data.urls.profile_youtube_icon}}"></a>&nbsp;
    <a href="{{site.data.urls.profile_soundcloud_url}}" title="{{site.data.urls.profile_soundcloud_title}}"><img src="{{site.data.urls.profile_soundcloud_icon}}"></a>&nbsp;
    <a href="{{site.data.urls.profile_linkedin_url}}" title="{{site.data.urls.profile_linkedin_title}}"><img src="{{site.data.urls.profile_linkedin_icon}}"></a>
  </p>
  <p>{{ site.data.footer.copyright }}</p>
</div>
